*,
*::before,
*::after {
  box-sizing: border-box;
}
.wrap {
  width: 1024px;
  margin: 0 auto;
}

/* header */
.third-party {
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-end;
}
.third-party-item {
  list-style: none;
  padding: 5px 10px;
}
.fb-border {
  border-right: 1px solid black;
}
.third-party-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.third-party-link .fb {
  color: #4663a4;
}
.third-party-link .twitter {
  color: #1daaf1;
}

.navbar {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.nav-main {
  display: flex;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #02cb97;
  padding: 15px 20px;
  font-weight: 600;
}
.nav-link:hover {
  border-bottom: 3px solid #02cb97;
}

/* container */
.banner {
  padding: 80px 0;
  margin-bottom: 30px;
  background-image: url("../images/banner.png");
}
.headline {
  padding: 20px 20px;
  background-color: black;
  opacity: 0.6;
}
.headline-title {
  margin: 0;
  color: white;
}

.course {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.course-item {
  width: 300px;
  list-style: none;
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.course-img {
  width: 290px;
}

/*
fb旁邊的那條線
headline白不起來
*/
